.goToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 300ms;
}

.container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: var(--blue-gradient);
  transition: all 500ms;
  cursor: pointer;
}

.container >img {
  width: 90%;
  height: 100%;
}